body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}


.city-select-container {
    position: relative;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .main-controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .city-select-container {
        margin-bottom: 15px;
    }

    .range-slider-container {
        margin-bottom: 10px;
    }
}


.city-select-suggest-list {
    position: absolute;
    width: 230px;
    top: 46px;
    left: 0;
    margin: 0;
    padding: 0px;
    font-size: 0px;
    list-style-type: none;
    list-style: none;
    z-index: 2;
    background: #fff;
}

.city-select-suggest-item {
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    cursor: pointer;
}

.city-select-suggest-item:hover {
    color: #548eaa;
}

.city-select-form {
    width: 275px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.city-select-input {
    height: 40px;
    width: 230px;
    padding: 6px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ccc;
}

.city-select-button-clear-icon {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 200px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-image: url("../icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px;
    cursor: pointer;
}

.city-select-button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: 1px solid #ccc;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.city-select-button-add-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px;
}

.city-select-input .city-select-input:active,
.city-select-input:focus,
.city-select-button:active,
.city-select-button:focus {
    box-shadow: none;
    outline: none;
}

.city-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.city-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 200px;
    height: 130px;
    border: 1px solid #ccc;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
}

.city-block-delete-btn {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 15px;
    transform: translateY(-50%) rotate(45deg);
    background-image: url("../icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px;
    cursor: pointer;
}

.city-block:first-child {
    margin-left: 0;
}

.city-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.city-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.city-weather-temp {
    font-size: 20px;
    line-height: 20px;
    margin-left: 15px;
}

.city-weather-additional {
    display: flex;
    flex-direction: column;
}

.city-weather-wind,
.city-weather-press {
    font-size: 14px;
    line-height: 14px;
}

.city-weather-wind {
    margin-bottom: 5px;
}

.wicon {
    margin: 10px 0;
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.wicon-50d,
.wicon-50n {
    background-image: url("../icons/smog-solid.svg");
}

.wicon-13d,
.wicon-13n {
    background-image: url("../icons/snow.svg");
}

.wicon-11d,
.wicon-11n {
    background-image: url("../icons/thunderstorm.svg");
}

.wicon-10d {
    background-image: url("../icons/rainday.svg");
}

.wicon-10n {
    background-image: url("../icons/rainnight.svg");
}

.wicon-02d {
    background-image: url("../icons/fewcloudsday.svg");
}

.wicon-02n {
    background-image: url("../icons/fewcloudsnight.svg");
}

.wicon-01d {
    background-image: url("../icons/clearskyday.svg");
}

.wicon-01n {
    background-image: url("../icons/clearskynight.svg");
}

.wicon-09n,
.wicon-09d {
    background-image: url("../icons/showerrain.svg");
}

.wicon-03n,
.wicon-03d,
.wicon-04n,
.wicon-04d {
    background-image: url("../icons/scuteredclouds.svg");
}

.range-slider-container {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
}

.range-slider-container .input-range__track.input-range__track--active {
    background: #ccc;
}

.range-slider-container .input-range__track {
    background: #282828;
    transition: none;
}

.range-slider-container .input-range__slider {
    background: #282828;
    border: none;
    width: 0.6rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px 1px #fff;
}

.range-slider-container .input-range__slider:active {
    transform: scale(1);
}

.range-slider-container .input-range__slider:focus {
    box-shadow: 0 0 1px 1px #fff;
}

.range-slider-container .input-range__label.input-range__label--min,
.range-slider-container .input-range__label.input-range__label--max {
    display: none;
}

.range-slider-container .input-range__label--value {
    top: 0.5rem;
}

.range-slider-container .input-range__label-container {
    color: #282828;
    font-family: "Segoe UI", "Roboto", Tahoma, sans-serif;

}

.range-slider-container .input-range__slider-container {
    transition: none;
}